
@{
    ViewBag.Title = "Index";
}



<div class="container">

    <div class="row">

        <div class="col-md-3" style="margin-top:100px">
            <p class="lead">Kategoriler</p>
            <div class="list-group">
                <a href="#" class="list-group-item">Tüm kategoriler</a>
                <a href="#" class="list-group-item">Category 1</a>
                <a href="#" class="list-group-item">Category 2</a>
                <a href="#" class="list-group-item">Category 3</a>
            </div>
        </div>

        <div class="col-md-9">

            <div class="row carousel-holder">

                <div class="col-md-12">
                    <div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
                        <ol class="carousel-indicators">
                            <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
                            <li data-target="#carousel-example-generic" data-slide-to="1"></li>
                            <li data-target="#carousel-example-generic" data-slide-to="2"></li>
                        </ol>
                        <div class="carousel-inner">
                            <div class="item active">
                                <img class="slide-image" src="~/image/book.jpg" alt="">
                            </div>
                            <div class="item">
                                <img class="slide-image" src="~/image/book2.jpg" alt="">
                            </div>
                            <div class="item">
                                <img class="slide-image" src="~/image/book.jpg" alt="">
                            </div>
                        </div>
                        <a class="left carousel-control" href="#carousel-example-generic" data-slide="prev">
                            <span class="glyphicon glyphicon-chevron-left"><i class="fa-sharp fa-solid fa-star"></i></span>
                        </a>
                        <a class="right carousel-control" href="#carousel-example-generic" data-slide="next">
                            <span class="glyphicon glyphicon-chevron-right"><i class="fa-sharp fa-solid fa-star"></i></span>
                        </a>
                    </div>
                </div>

            </div>

            <div class="row">

                <div class="col-sm-4 col-lg-4 col-md-4">
                    <div class="thumbnail">
                        <img src="http://placehold.it/320x150" alt="">
                        <div class="caption">
                            <h4>
                                <a href="#">First Product</a>
                            </h4>
                            <h6>
                                <span class="glyphicon glyphicon-user">John Doe</span><br />
                                <span class="glyphicon glyphicon-time">@DateTime.Now</span><br />
                            </h6>
                            <p>lorem sjflksdjflksdjflsdjfl sdkjflskdjflksdj fklsdjflk sdjf lksjflksd fdskfjsdlkf dslkfjlsdkjf lsdkfj sdlkfjklsdjf kldsfaaaaa</p>
                        </div>
                        <hr />
                        <div class="ratings">
                            <p class="pull-right">
                                <button class="btn btn-default btn-xs">
                                    <span class="glyphicon glyphicon-comment"></span>
                                    Yorumlar
                                </button>
                            </p>
                            <p>
                                <button class="btn btn-default btn-xs like-btn">
                                    10
                                    <span class="glyphicon glyphicon-heart-empty like"></span>
                                </button>
                            </p>
                        </div>
                    </div>
                </div>
                <div class="col-sm-4 col-lg-4 col-md-4">
                    <div class="thumbnail">
                        <img src="http://placehold.it/320x150" alt="">
                        <div class="caption">
                            <h4>
                                <a href="#">First Product</a>
                            </h4>
                            <h6>
                                <span class="glyphicon glyphicon-user">John Doe</span><br />
                                <span class="glyphicon glyphicon-time">@DateTime.Now</span><br />
                            </h6>
                            <p>lorem sjflksdjflksdjflsdjfl sdkjflskdjflksdj fklsdjflk sdjf lksjflksd fdskfjsdlkf dslkfjlsdkjf lsdkfj sdlkfjklsdjf kldsfaaaaa</p>
                        </div>
                        <hr />
                        <div class="ratings">
                            <p class="pull-right">
                                <button class="btn btn-default btn-xs">
                                    <span class="glyphicon glyphicon-comment"></span>
                                    Yorumlarsdfsfdsdfdsfasdfadsf
                                </button>
                            </p>
                            <p>
                                <button class="btn btn-default btn-xs like-btn">
                                    10
                                    <span class="glyphicon glyphicon-heart-empty like"></span>
                                </button>
                            </p>
                        </div>
                    </div>
                </div>
                <div class="col-sm-4 col-lg-4 col-md-4">
                    <div class="thumbnail">
                        <img src="http://placehold.it/320x150" alt="">
                        <div class="caption">
                            <h4>
                                <a href="#">First Product</a>
                            </h4>
                            <h6>
                                <span class="glyphicon glyphicon-user">John Doe</span><br />
                                <span class="glyphicon glyphicon-time">@DateTime.Now</span><br />
                            </h6>
                            <p>lorem sjflksdjflksdjflsdjfl sdkjflskdjflksdj fklsdjflk sdjf lksjflksd fdskfjsdlkf dslkfjlsdkjf lsdkfj sdlkfjklsdjf kldsfaaaaa</p>
                        </div>
                        <hr />
                        <div class="ratings">
                            <p class="pull-right">
                                <button class="btn btn-default btn-xs">
                                    <span class="glyphicon glyphicon-comment"></span>
                                    Yorumlar
                                </button>
                            </p>
                            <p>
                                <button class="btn btn-default btn-xs like-btn">
                                    10
                                    <span class="glyphicon glyphicon-heart-empty like"></span>
                                </button>
                            </p>
                        </div>
                    </div>
                </div>
                <div class="col-sm-4 col-lg-4 col-md-4">
                    <div class="thumbnail">
                        <img src="http://placehold.it/320x150" alt="">
                        <div class="caption">
                            <h4>
                                <a href="#">First Product</a>
                            </h4>
                            <h6>
                                <span class="glyphicon glyphicon-user">John Doe</span><br />
                                <span class="glyphicon glyphicon-time">@DateTime.Now</span><br />
                            </h6>
                            <p>lorem sjflksdjflksdjflsdjfl sdkjflskdjflksdj fklsdjflk sdjf lksjflksd fdskfjsdlkf dslkfjlsdkjf lsdkfj sdlkfjklsdjf kldsfaaaaa</p>
                        </div>
                        <hr />
                        <div class="ratings">
                            <p class="pull-right">
                                <button class="btn btn-default btn-xs">
                                    <span class="glyphicon glyphicon-comment"></span>
                                    Yorumlar
                                </button>
                            </p>
                            <p>
                                <button class="btn btn-default btn-xs like-btn">
                                    10
                                    <span class="glyphicon glyphicon-heart-empty like"></span>
                                </button>
                            </p>
                        </div>
                    </div>
                </div>
                <div class="col-sm-4 col-lg-4 col-md-4">
                    <div class="thumbnail">
                        <img src="http://placehold.it/320x150" alt="">
                        <div class="caption">
                            <h4>
                                <a href="#">First Product</a>
                            </h4>
                            <h6>
                                <span class="glyphicon glyphicon-user">John Doe</span><br />
                                <span class="glyphicon glyphicon-time">@DateTime.Now</span><br />
                            </h6>
                            <p>lorem sjflksdjflksdjflsdjfl sdkjflskdjflksdj fklsdjflk sdjf lksjflksd fdskfjsdlkf dslkfjlsdkjf lsdkfj sdlkfjklsdjf kldsfaaaaa</p>
                        </div>
                        <hr />
                        <div class="ratings">
                            <p class="pull-right">
                                <button class="btn btn-default btn-xs">
                                    <span class="glyphicon glyphicon-comment"></span>
                                    Yorumlar
                                </button>
                            </p>
                            <p>
                                <button class="btn btn-default btn-xs like-btn">
                                    10
                                    <span class="glyphicon glyphicon-heart-empty like"></span>
                                </button>
                            </p>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>
<style>

    .like-btn {
            color: #ff1e0a;
        background-color:whitesmoke;
        font-weight: 700;
        text-decoration: none;
        display: inline-block;
        text-transform: uppercase;
        cursor: pointer;
        border-radius: 3px;
        padding: 0 .7em;
        overflow: visible;
        font-size: .85em;
        height: calc(2em + 2em * (.9 - .85));
        line-height: 2em;
    }

        .like-btn:hover {
            /*background: #ea7909;*/
            color: #ff1e0a;
        }
</style>







