@model List<Makaleler>
@{
    ViewBag.Title = "Index";
}



<div class="container">

    <div class="row">

        <div class="col-md-3">
            @Html.Partial("_PartialPageKategori")
        </div>
        <b>test</b>
        <div class="col-md-9">

            <div class="row carousel-holder">

                <div class="col-md-12">
                    <div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
                        <ol class="carousel-indicators">
                            <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
                            <li data-target="#carousel-example-generic" data-slide-to="1"></li>
                            <li data-target="#carousel-example-generic" data-slide-to="2"></li>
                        </ol>
                        <div class="carousel-inner">
                            <div class="item active">
                                <img class="slide-image" src="~/image/book.jpg" alt="">
                            </div>
                            <div class="item">
                                <img class="slide-image" src="~/image/book2.jpg" alt="">
                            </div>
                            <div class="item">
                                <img class="slide-image" src="~/image/book.jpg" alt="">
                            </div>
                        </div>
                        <a class="left carousel-control" href="#carousel-example-generic" data-slide="prev">
                            <span class="glyphicon glyphicon-chevron-left"><i class="fa-sharp fa-solid fa-star"></i></span>
                        </a>
                        <a class="right carousel-control" href="#carousel-example-generic" data-slide="next">
                            <span class="glyphicon glyphicon-chevron-right"><i class="fa-sharp fa-solid fa-star"></i></span>
                        </a>
                    </div>
                </div>
            </div>

            <div class="row">
                @foreach (Makaleler item in Model)
                {

                    <div class="col-sm-4 col-lg-4 col-md-4">
                        <div class="thumbnail">
                            <img src="~/image/bookimg.jpg" alt="">
                            <div class="caption">
                                <h4>
                                    <a href="#">@item.Baslik</a>
                                </h4>
                                <h6>
                                    <span class="glyphicon glyphicon-user"><b>@item.Kullanici.KullaniciAdi   </b></span><br />
                                    <span class="glyphicon glyphicon-time">@item.DegistirmeTarihi.ToString("dd.MM.yy HH:mm")</span><br />
                                </h6>
                                @if (!string.IsNullOrEmpty(item.Text) && item.Text.Length > 5)
                                {
                                    <p>
                                        @item.Text.Substring(0, 10)
                                    <a href="#" class="btn-btn btn-default btn-xs">devamı...</a>
                                    </p>
                                }
                                else 
                                {
                                    <p>@item.Text</p>
                                }
                            </div>
                            <hr />
                            <div class="ratings">
                                <p class="pull-right">
                                    @*Jquery
                                        <button class="btn btn-default btn-xs" id="btn-yorum" data-toggle="modal" data-target="#ornekModal">
                                        <span class="glyphicon glyphicon-comment"></span>
                                        Yorumlar.
                                    </button>*@
                                    <button class="btn btn-default btn-xs"  data-toggle="modal" data-target="#Modal1" data-notid="@item.ID" >
                                        <span class="glyphicon glyphicon-comment"></span>
                                        Yorumlar...
                                    </button>
                                </p>
                                <p>
                                    <button class="btn btn-default btn-xs like-btn">
                                        @item.BegeniSayisi
                                        <span class="glyphicon glyphicon-heart-empty like"></span>
                                    </button>
                                </p>
                            </div>
                        </div>
                    </div>
                }
            </div>
        </div>
    </div>
</div>
@section footer
{
    @Html.Partial("_PartialPageFooter");
}


@BootsrapHelper.ModalPopup("Modal1","Yorumlar")
<script>
    $(function () {
        //modal açıldıktan sonraki işlemler...
        $('#Modal1').on('show.bs.modal', function (e) {//e=> buton bilgilerini tutar
            var button = $(e.relatedTarget);
            var notid = button.data("notid");
            //modal1_body'ye yükle => yorumgoster action
            $('#Modal1_body').load("/Yorum/YorumGoster/" + notid);//Action partial page döner
        });
    });
    function(mod, yorumid, yorumtext) {

    }
</script>
<!--<script>
    $(document).ready(function () {

        $("#btn-yorum").on("click", function () {
            $("#ornekModal").trigger("show")
        })
    })
</script>
<div class="modal fade" tabindex="-1" role="dialog" id="ornekModal">-->
    <!-- /.modal -->
    <!--<div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title">Modal Başlığı</h4>
            </div>
            <div class="modal-body">
                <p>@Model.Find(x=>x.Kullanici.Yorumlar==x.Kullanici.Yorumlar)</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Kapat</button>
            </div>
        </div>--><!-- /.modal-content -->
    <!--</div>--><!-- /.modal-dialog -->
<!--</div>--><!-- /.modal -->







<!--<script>
    $('#openBtn').click(function () {
        $('#myModal').modal({
            show: true
        })
    });

    $(document).on('show.bs.modal', '.modal', function (event) {
        var zIndex = 1040 + (10 * $('.modal:visible').length);
        $(this).css('z-index', zIndex);
        setTimeout(function () {
            $('.modal-backdrop').not('.modal-stack').css('z-index', zIndex - 1).addClass('modal-stack');
        }, 0);
    });
</script>
<a data-toggle="modal" href="#myModal" class="btn btn-primary">modal aç</a>

<div class="modal fade" id="myModal">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                <h4 class="modal-title">Modal 1</h4>

            </div>
            <div class="container"></div>
            <div class="modal-body">
                Content for the dialog / modal goes here.
                <br>
                <br>
                <br>
                <p>more content</p>
                <br>
                <br>
                <br>	<a data-toggle="modal" href="#myModal2" class="btn btn-primary">Launch modal</a>

            </div>
            <div class="modal-footer">
                <a href="#" data-dismiss="modal" class="btn">Close</a>
                <a href="#" class="btn btn-primary">Save changes</a>

            </div>
        </div>
    </div>
</div>
<div class="modal fade " id="myModal2">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                <h4 class="modal-title">Modal 2</h4>

            </div>
            <div class="container"></div>
            <div class="modal-body">
                Content for the dialog / modal goes here.
                <br>
                <br>
                <p>come content</p>
                <br>
                <br>
                <br>	<a data-toggle="modal" href="#myModal3" class="btn btn-primary">Launch modal</a>

            </div>
            <div class="modal-footer">
                <a href="#" data-dismiss="modal" class="btn">Close</a>
                <a href="#" class="btn btn-primary">Save changes</a>

            </div>
        </div>
    </div>
</div>
<div class="modal fade" id="myModal3">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                <h4 class="modal-title">Modal 3</h4>

            </div>
            <div class="container"></div>
            <div class="modal-body">
                Content for the dialog / modal goes here.
                <br>
                <br>
                <br>
                <br>
                <br>	<a data-toggle="modal" href="#myModal4" class="btn btn-primary">Launch modal</a>

            </div>
            <div class="modal-footer">
                <a href="#" data-dismiss="modal" class="btn">Close</a>
                <a href="#" class="btn btn-primary">Save changes</a>

            </div>
        </div>
    </div>
</div>
<div class="modal fade" id="myModal4">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                <h4 class="modal-title">Modal 4</h4>

            </div>
            <div class="container"></div>
            <div class="modal-body">Content for the dialog / modal goes here.</div>
            <div class="modal-footer">
                <a href="#" data-dismiss="modal" class="btn">Close</a>
                <a href="#" class="btn btn-primary">Save changes</a>

            </div>
        </div>
    </div>
</div>-->