@using Makale_Entities.View_modal
@model Register_Modal 
@{
    ViewBag.Title = "Register";
}
<link href="~/Content/css/Login-Register.css" rel="stylesheet" />
<style>
    html, body {
        background-image: url('../../image/uwp1959689.jpeg');
        background-size: cover;
        background-repeat: no-repeat;
        height: 100%;
        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    }
</style>
<body>
    <div id="login">
        <h3 class="text-center text-white pt-5">Register form</h3>
        <div class="container">
            <div id="login-row" style="margin-left:350px" class="row justify-content-center align-items-center">
                        @Html.ValidationSummary(false)
                <div id="login-column" class="col-md-6">
                    <div id="login-box" class="col-md-12">
                        <form id="login-form" class="form" action="" method="post">
                            <h3 class="text-center text-info">Register</h3>
                            <div class="form-group">
                                @Html.TextBoxFor(model => model.KullaniciAdi, new { @class = "form-control", placeholder = "johndoe", type = "text" })
                            </div>
                            <div class="form-group">
                                @Html.TextBoxFor(model => model.Sifre, new { @class = "form-control", placeholder = "qaz!123", type = "password" })
                            </div>
                            <div class="form-group">
                                @Html.TextBoxFor(model => model.Sifre2, new { @class = "form-control", placeholder = "qaz!123", type = "password" })
                            </div>
                            <div class="form-group">
                                @Html.TextBoxFor(model => model.Email,new { @class = "form-control", placeholder = "ornek@example.com", type = "email" })
                            </div>
                            <div class="form-group">
                                <input type="submit" name="submit" class="btn btn-info btn-md" value="submit">
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
<script>
    $(function () {
        $("footer").parent().hide()
    });
</script>