@model Makale_Entities.Kullanıcı

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Kullanıcı</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Adi)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Adi)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Soyad)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Soyad)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.KullaniciAdi)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.KullaniciAdi)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Sifre)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Sifre)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Email)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Email)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Aktif)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Aktif)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Admin)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Admin)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.KayıtTarihi)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.KayıtTarihi)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DegistirmeTarihi)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DegistirmeTarihi)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DegistirenKullanici)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DegistirenKullanici)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.ID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
